.body{
    margin: 0px;
}

.background{
    width: 100%;
    height: 100vh;
    background-image: url("assets/background.jpg");
    background-size: cover;
    background-repeat: repeat-x;
    overflow-x: hidden;
    position: absolute;
}

.boy{
    height: 210px;
    margin-top: 609px;
    position: absolute;
}

.box{
    width: 250px;
    height: 250px;
    /* background-color: red; */
    position: absolute;
    margin-top: 713px;
    background-image: url("assets/dragon2.gif");
    background-size: contain;
    background-repeat: no-repeat;
}

.score{
    font-size: 50px;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 25px;
    position: absolute;
    height: 80px;
    width: 150px;
    background-color: rgb(230, 217, 39);
    text-align: center;
    border-radius: 20px;
    border: 6px solid rgb(204, 136, 9);
    box-shadow: 10px 10px 5px 5px rgb(204, 136, 9);
}

.end{
    width: 100%;
    height: 100vh;
    position: absolute;
    background-image: url("assets/abstract-green-dots-wave-mesh-motion-technology-data-design-modern-futuristic-background-vector.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 90px;
    font-weight: bold;
    color: white;
    font-family: "Broadway";
    z-index: 1;
    visibility: hidden;
}

.btn{
    width: 300px;
    height: 45px;
    margin-top: 50px;
    border-radius: 20px;
    font-size: 25px;
    font-weight: 1000;
    background-color: aqua ;
}

.btn:hover{
    height: 47px;
    width: 305px;
    background-color: rgb(0, 233, 233);
    cursor: pointer;
    color: black;
}
